  <app-navbar></app-navbar>
  <div class="table-container">
    <div class="heading">
        <h3>Employee List</h3>
        <button class="btn btn-primary btn-add" routerLink="/add">Add Employee</button>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th class="border-r-0">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.firstname}}</td>
          <td>{{employee.lastname}}</td>
          <td>{{employee.email}}</td>
          <td>
            <button class="btn btn-primary btn-update" [routerLink]="['/update/' + employee._id]">Update</button>
            <button class="btn btn-danger btn-delete" (click)="onDelete(employee._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
