<app-navbar></app-navbar>

<div class="container">
    <div class="form-container">
        <form (ngSubmit)="addEmployee()" [formGroup]="addEmployeeForm">
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <label for="firstname" class="form-label">First name</label>
                        <input type="text" id="firstname" formControlName="firstname" class="form-control">
                        <small *ngIf="addEmployeeForm.get('firstname')?.errors?.['required'] && addEmployeeForm.get('firstname')?.touched"
                            class="text-danger"> First name is required</small>
                    </div>
                    <div class="col">
                        <label for="lastname" class="form-label">Last name</label>
                        <input type="text" id="lastname" formControlName="lastname" class="form-control">
                        <small *ngIf="addEmployeeForm.get('lastname')?.errors?.['required'] && addEmployeeForm.get('lastname')?.touched"
                            class="text-danger"> Last name is required</small>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control">
                <small *ngIf="addEmployeeForm.get('email')?.errors?.['required'] && addEmployeeForm.get('email')?.touched"
                    class="text-danger">Email is required</small>
                <small *ngIf="addEmployeeForm.get('email')?.errors?.['email'] && addEmployeeForm.get('email')?.touched"
                    class="text-danger">Invalid email</small>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select id="gender" formControlName="gender" class="form-select">
                    <option value="" disabled>Choose a gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                <small *ngIf="addEmployeeForm.get('gender')?.errors?.['required'] && addEmployeeForm.get('gender')?.touched"
                    class="text-danger"> Gender is required</small>
            </div>
            <div class="mb-3">
                <label for="salary" class="form-label">Salary</label>
                <input type="number" id="salary" formControlName="salary" class="form-control" >
                <small *ngIf="addEmployeeForm.get('salary')?.errors?.['required'] && addEmployeeForm.get('salary')?.touched"
                    class="text-danger"> Salary is required</small>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</div>