<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form (ngSubmit)="onRegister()" [formGroup]="signUpForm">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
                <p class="text-white-50 mb-5">Please enter your information to register!</p>

                <div class="form-outline form-white mb-4">
                  <input placeholder="Username" type="text" id="typeUsernameX" class="form-control form-control-lg" formControlName="username" />
                  <small *ngIf="signUpForm.get('username')?.errors?.['required'] && signUpForm.get('username')?.touched" class="text-danger">Username is required</small>
                  <small *ngIf="signUpForm.get('username')?.errors?.['minlength'] && signUpForm.get('username')?.touched" class="text-danger">Username must be more than 4 characters</small>
                  <small *ngIf="signUpForm.get('username')?.errors?.['maxlength'] && signUpForm.get('username')?.touched" class="text-danger">Username must be less than 100 characters</small>
                </div>
                

                
                <div class="form-outline form-white mb-4">
                  <input placeholder="Email" type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="email" />
                  <small *ngIf="signUpForm.get('email')?.errors?.['required'] && signUpForm.get('email')?.touched" class="text-danger">Email is required</small>
                  <small *ngIf="signUpForm.get('email')?.errors?.['email'] && signUpForm.get('email')?.touched" class="text-danger">Invalid email</small>
                </div>

                <div class="form-outline form-white mb-4">
                  <input placeholder="Password" type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
                  <small *ngIf="signUpForm.get('password')?.errors?.['required'] && signUpForm.get('password')?.touched" class="text-danger">Password is required</small>
                  <small *ngIf="signUpForm.get('password')?.errors?.['minlength'] && signUpForm.get('password')?.touched" class="text-danger">Password must be more than 8 characters</small>
                  <small *ngIf="signUpForm.get('password')?.errors?.['maxlength'] && signUpForm.get('password')?.touched" class="text-danger">Password must be less than 100 characters</small>
                </div>
                

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Signup</button>

              </div>
            </form>

            <div>
              <p class="mb-0">Already have an account? <a routerLink="/login" class="text-white-50 fw-bold">Sign In</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
